<form action="">
    <label for="username">
       用户名：<input class="form-control" type="text" id="username" name="username" placeholder="请输入用户名"/>
    </label>
    <label for="psw">
       密码：<input type="text" id="psw" class="form-control" name="psw" placeholder="请输入密码"/>
    </label>
</form>