{{#extend "css"}}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
{{/extend}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h4>Hello,world.</h4>
<h1>{{name}}</h1>

{{#extend "script"}}
    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
{{/extend}}