<form class="con-tent" action="">
    <label for="username">
       用户名：<input class="form-control" value="{{username}}" type="text" id="username" name="username" placeholder="请输入用户名"/>
    </label>
    <label for="psw">
       密码：<input value="{{psw}}" type="text" id="psw" class="form-control" name="psw" placeholder="请输入密码"/>
    </label>
</form>
<div class="container">
    <ul>
        {{#each userList as |user|}}
            <li>
                <span>用户名：{{user.username}}</span>
                <span>邮箱： {{user.email}}</span>
            </li>
        {{/each}}
    </ul>
</div>
<div class="container">
    <h1>Add users</h1>

    <form>
        <input class="form-control" type="text" name="username" id="user" placeholder="用户名"/>
        <input class="form-control" type="email" name="email" id="email" placeholder="邮箱"/>
        <input type="button" id="j-addUser" value="添加用户"/>
    </form>
</div>
<div class="container">
    <h4 style="text-align: center;">put请求</h4>

    <form method="put">
        <input class="form-control user" type="text" name="username"/>
        <input type="text" class="form-control email" name="email"/>
        <input type="button" value="提交put请求" id="j-putreq"/>
    </form>
</div>

{{#extend "script"}}
    <script src="/js/login.js"></script>
{{/extend}}
