<h2>Sign up for your newsletter</h2>
<form action="/newsletter/process?form=newsletter" method="post" class="form-horizontal">
    <input type="hidden" name="csrf" value="{{csrf}}"/>
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">
            Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">
            Email
        </label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="fieldEmail" name="email" required/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>