{{#extend "css"}}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
{{/extend}}

<h2>Sign up for your newsletter</h2>
<form action="/process?form=newsletter" method="post" class="form-horizontal">
    <input type="hidden" name="csrf" value="{{csrf}}"/>
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">
            Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">
            Email
        </label>
        <div class="col-sm-4">
            <input type="email" class="form-control" />
        </div>
    </div>
</form>

{{#extend "script"}}
    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
{{/extend}}